h3{
    color: blue;
    font-family: ; 
    background: ;
    }

    
    Estilizar a cor de fundo do seu site como o css
    body{
    background-color: brown
    }
    
    
    Estilizar os parágrafos:
    p{
    color: ;
    font-family: ;
    font-size: ;
    background: ;
    }   
